**/.DS_Store
**/.deps
**/.libs
**/*.lo
**/*.o
aclocal.m4
compile
config.h*
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
test-driver
autom4te.cache/*
**/Makefile
Makefile.in
