**/.DS_Store
**/.deps
**/.dirstamp
**/.libs
**/*.la
**/*.lo
**/*.o
**/*.pc
aclocal.m4
compile
config.h*
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
test-driver
autom4te.cache/*
**/Makefile
Makefile.in

xls2csv
test_libxls
test2_libxls
test_cpp
test.htm
