body {
 margin: 1em;
 font-family: Helvetica;
}

code {
 font-size: 1em
}

h1 {
 background-color: #3399FF;
 color: white;
 margin-top: 0;
}

h2 {
 color: #FF3300;
}

h3 {
}

#menu a {
 display: block;
}